.detail {
    display: flex;
    align-items: center;
    justify-content: center;
}


.dh1 {
    
    color: whitesmoke;
    font-size: 4vh;
    margin-left: 4vh;
}

.detail span {
    color: #b983ff;
    border: solid 1px #fff;;
    line-height: 55px;
    font-size: 30;
    margin-left: 6vh;
    margin-top: 50vh;
}

.detail h3 {
    color: #b983ff;
    margin-left: -85vh;
}

.detail p {
    color: rgb(145, 143, 143);
}

.detail b {
    color: rgb(145, 143, 143);

}

.availables {
    color: #b983ff;
}

.detail img {
    margin-left: 4vh;
    width: 340px;
    height: 540px;
}

.div2 {
    
    font-size: 17px;
    margin-left: 65vh;
    margin-top: -75vh;
}



.duration {
    margin-right: 38vh;
    margin-top: -8.2vh;
}

.genre {
    margin-right: 70vh;
    margin-top: -10vh;
}

.btnBack {
    margin-left: 4vh;
    margin-top: 18px;
    padding: 8px 12px;
    font-family: 'Shippori Antique B1', sans-serif;
    border-radius: 3px;
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
    background-color: #b983ff;
    border: none;
    border-bottom: 5px solid #230602;
    text-shadow: 0px -2px #230602;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    cursor: pointer;
}

.btnBack:hover {
    color: #b983ff;
    background-color: whitesmoke;
}

.select2 {
    
    background-color: #b983ff;
    border-color:#b983ff;
    color: black;
    //border-radius: 20px;
    border-radius: 2px;
    font-size: 1rem;
    width: 185px;
    outline: none;
    margin-left: 6vh;
}

.buttdet {
    background-color: #b983ff;
    border-color:#b983ff;
    color: black;
    //border-radius: 20px;
    border-radius: 2px;
    font-size: 1rem;
    width: 185px;
    outline: none;
    margin-left: 2vh;
}