

.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 10px;
}

.row__posters::-webkit-scrollbar{
    display: none;
}

.row__poster {
    display: block;
    object-fit: contain;
    width: 100%;
    max-height: 200px;
    transition: transform 450ms;
    margin-right: 150px;
    cursor: pointer;
}

.row__poster:hover {
    transform: scale(1.15)
}

.onStream {
    color: #b983ff;
    font-size: 4vh;
    margin-left: 30px;
    margin-bottom: 0;
    margin-top: 9vh;
}

.topRated {
    color: #F3F1F5;
    font-size: 4vh;
    margin-left: 30px;
    margin-bottom: 0;
}

.upcoming {
    color: #F3F1F5;
    font-size: 4vh;
    margin-left: 30px;
    margin-bottom: 0;
}



.filters {
    padding-top: 40px;
    padding-left: 25px;
}

.select1 {
    background-color: #b983ff;
    border-color:#b983ff;
    color: black;
    //border-radius: 20px;
    border-radius: 2px;
    font-size: 1rem;
    width: 185px;
    outline: none;
}

.select2 {
    background-color: #b983ff;
    border-color:#b983ff;
    color: black;
    //border-radius: 20px;
    border-radius: 2px;
    font-size: 1rem;
    width: 185px;
    outline: none;
    margin-left: 2vh;
}

.option {
    color: whitesmoke;
}

/* ::-webkit-scrollbar {
    display: none;
} */



.div_about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 50px;
    background-color: #212121;
}

.h5about {
    margin-left: 30px;
    color: #b983ff;
}

.button_about {
    margin-right: 30px;
    background-color: #b983ff;
    cursor: pointer;
    border-color: #b983ff;
    
    
    
}