.cardGroceries {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 280px;
    height: 340px;
    background-color: #b983ff;
    border-color: whitesmoke;
    border-radius: 10px;
    font-family: 'Shippori Antique B1', sans-serif;
    border-style: dashed;
    margin-left: 4vh;
    margin-top: 4vh;
}

.cardGroceries button {
    background-color: rgb(0, 0, 0);
    color:#b983ff;
    height: 3.5vh;
    border-radius: 20px;
}

.cardGroceries button:hover {
    background-color: whitesmoke;
    color:#b983ff;
    height: 3.5vh;
    border-radius: 20px;
}
