.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 10px;
}

/* .row__posters::-webkit-scrollbar{
    display: none;
} */

.row__poster {
    display: block;
    object-fit: contain;
    width: 100%;
    max-height: 200px;
    transition: transform 450ms;
    margin-right: 150px;
}

.row__poster:hover {
    transform: scale(1.10)
}