.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 10px;
}

.row__posters::-webkit-scrollbar{
    display: none;
}

.row__poster {
    display: block;
    object-fit: contain;
    width: 100%;
    max-height: 200px;
    transition: transform 450ms;
    margin-right: 150px;
    cursor: pointer;
}

.row__poster:hover {
    transform: scale(1.15)
}

.onstream {
    height: 6000px;
}

h2 {
    margin-left: 0.5vh;
    color: #F3F1F5;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}