.nav {
    display: flex;
    background-color: #555555;
    padding: 10px;
}

.cart {
    margin-top: 27px;
    height: 25px;
    margin-left: 3vh;
}

.cart:hover {
    transform: scale(1.5)
}


.user {
    margin-top: 27px;
    height: 25px;
    margin-left: 4vh;
}

.user:hover {
    transform: scale(1.5)
}

.btn {
    color: #b983ff;
    font-size: 2.5vh;
    margin-left: 50vh;
    margin-top: 20px;
}

.btn:hover {
    color: whitesmoke;
    transform: scale(1.3)
}

.btnHome {
    color: #b983ff;
    font-size: 4.5vh;
    margin-top: 1vh;
}

.btnHome:hover {
    transform: scale(1.08)
}

a {
    color: #b983ff;
  }
  a:hover {
     color: whitesmoke;
  }
