.page{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.account{
    display: flex;
    background-color: white;
    height:50vh;
    width:50vh;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 1.25em;
}

.subtitle{
    font-size: 1em;
}

.input{
    margin-top: 3px;
    margin-bottom: 3px;
}

.img{
    width:25%;
}