.page{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 50%;
    text-align: center;
}


.account{
    display: flex;
    background-color: white;
    height:50vh;
    width:50vh;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 1.25em;
}

.subtitle{
    font-size: 1em;
}

.input{
    margin-top: 3px;
    margin-bottom: 3px;
}

.img{
    width:25%;
}

.button {
    border: none;
    background-color: transparent;
    outline: none;
    margin-bottom: 5px;
}
.button:focus {
    border: none;
}
.button:hover{
    cursor: pointer;
    color: #b983ff;
}

.btnBack {
    margin-left: 4vh;
    margin-top: 18px;
    padding: 8px 12px;
    font-family: 'Shippori Antique B1', sans-serif;
    border-radius: 3px;
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
    background-color: #b983ff;
    border: none;
    border-bottom: 5px solid #230602;
    text-shadow: 0px -2px #230602;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    cursor: pointer;
}

.btnBack:hover {
    color: #b983ff;
    background-color: whitesmoke;
}