.productsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-row-gap: 20px;
    grid-column-gap: 75px;
    justify-items: center;
    justify-content: center;

    .product {
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: #b983ff;
        border-style: dashed;
        border-color: #533E85;
        border-radius: 10px;

        img {
            width: 100%;
        }

        p {
            font-weight: bold;
            font-size: 15px;
            text-align: center;
        }

        button {
            background-color: #533E85;
            color: #cecece;
            border: none;
            border-radius: 3px;
            padding: 5px 10px;
            margin-bottom: 9px;
            cursor: pointer;
        }

        button:hover {
            background-color: #cecece;
        }
    }
}