.page{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 50%;
    text-align: center;
}

.form{
    display: flex;
    background-color: white;
    height:50vh;
    width:50vh;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnBack {
    margin-left: 4vh;
    margin-top: 18px;
    padding: 8px 12px;
    font-family: 'Shippori Antique B1', sans-serif;
    border-radius: 3px;
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
    background-color: #b983ff;
    border: none;
    border-bottom: 5px solid #230602;
    text-shadow: 0px -2px #230602;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    cursor: pointer;
}

.btnBack:hover {
    color: #b983ff;
    background-color: whitesmoke;
}

.title{
    font-size: 1.1em;
}

.input{
    width:12em;
}

.min{
    font-size: 0.6em;
    margin-top: 3px;
    margin-bottom: 0px;
}